<style>

	h1 {
		color: #black;
		font-family: Arial, Helvetica, sans-serif;
		margin: 0 auto;
		text-align: left; 
	}

	h2 {
		color: black;
		font-family: Arial, Helvetica, sans-serif;
		text-align: left;
	}

	.headline {
		margin: 0 auto; 
	}

	div2
		
	</style>
